<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="this.getClientes()">Baixar cliente </ion-button>
      <ion-spinner *ngIf="this.isLoading"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
        <ion-list>
          <ng-container *ngFor="let cliente of this.clientes">
              <ion-item>
                <ion-label>{{cliente.CodCli}}</ion-label>
                <ion-label>{{cliente.Nome}}</ion-label>
                <ion-button (click)="removerCliente(cliente.CodCli)">Remover</ion-button>
              </ion-item>
          </ng-container>
        </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
