<ion-header>
  <ion-toolbar>

  <ion-segment  value="all" (ionChange)="trocar($event)">
      <ion-segment-button value="all">
          <ion-label>Funcionarios</ion-label>
      </ion-segment-button>
      
      <ion-segment-button  value="Inserir" >
          <ion-label>Inserir</ion-label>
      </ion-segment-button>
  </ion-segment>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

<!-- Pagina funcionarios //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



<ion-row class="ion-justify-content-center" *ngIf="this.guia=='all'">
  <ion-col size="10">

    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-searchbar>
        </ion-searchbar>
      </ion-col>

          <ion-col>
            <ion-checkbox>Nome</ion-checkbox>
          </ion-col>

          <ion-col>
            <ion-checkbox>Cargo</ion-checkbox>
          </ion-col>

          <ion-col>
            <ion-checkbox>Cidade</ion-checkbox>
          </ion-col>

          <ion-col>
            <ion-checkbox>Telefone</ion-checkbox>
          </ion-col>
    </ion-row>

  
      <ng-container *ngFor="let funcionario of this.funcionarios">
        <ion-item>


          
  
         
            <ion-label> {{ funcionario.Nome }} </ion-label>
        
            <ion-label> {{ funcionario.Cargo }} </ion-label>
  
            <ion-label> {{ funcionario.Cidade }} </ion-label>
  
            <ion-label> {{ funcionario.Fone }} </ion-label>
    
         
            <ion-button  color="none">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
  
            <ion-button >
              <ion-icon name="trash-outline" color="danger" ></ion-icon>
            </ion-button>
        
          
        </ion-item>
      </ng-container>

    
      
  </ion-col>
</ion-row>

  <!-- Pagina Inserir funcionario //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="this.guia=='Inserir'">
    <ion-col size="9">
      <form class="inserir-form" (ngSubmit)="submitForm()">

          <div class="header">
            <h3>Inserir Funcionarios</h3>
          </div>

            <ion-row>
              <ion-col size="6">
                <ion-item  class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Nome" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item  class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Sobrenome" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col size="6">
                <ion-item  class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Telefone" labelPlacement="floating" placeholder="" type="tel" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item  class="item-has-focus ion-touched"> 
                  <ion-input class="custom-input" label="Data de Nascimento" labelPlacement="floating" placeholder="" type="date" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col size="3">
                <ion-item class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Cep" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Endereço" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3">
                <ion-item class="item-has-focus ion-touched">
                  <ion-input  class="custom-input" label="País" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col size="6">
                <ion-item class="item-has-focus ion-touched">
                  <ion-input class="custom-input" label="Cargo " labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item class="item-has-focus ion-touched" >
                  <ion-input class="custom-input" label="Salario" type="number" labelPlacement="floating" placeholder="" [clearInput]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            
              <!-- Seus campos de entrada aqui -->
              <ion-button class="botao_inserir" type="submit">Adicionar funcionario</ion-button>
            </form>
            
    </ion-col>
  </ion-row>



</ion-content>

